nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #072321;
}
.nav-links ul li {
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    transition: 250ms;
}
.nav-links ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    transition: 250ms;
}
.nav-links ul li a:hover{
    display: block;
    color: white;
    text-align: center;
    padding: 17px;
    padding-bottom: 20px;
    text-decoration: none;
    transition: 250ms;
}
.nav-links ul li:hover{
    padding: 0 20px 0 20px ;
    transition: 250ms;
    background-color: #df5919;
}
footer {
    background-color: #072321;
    color: #fff;
    text-align: center;
}
nav .fa {
    display: none;
}
@media (max-width: 700px) {
    .fa fa-bars{
        display: block;
    }
    nav{
        display: block;
        align-items: first baseline;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        transition: 1s;
        display: block;
        position: absolute;
        background-color: #072321;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa {
        display: block;
        color: #df5919;
        cursor: pointer;
        margin: 10px;
        font-size: 22px;
        text-align: left;
    }
    .nav-links ul{
        padding: 30px;
    }
}