*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    caret-color: transparent;
}
*::-webkit-scrollbar{
    display: none;
  }
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(7, 35, 33,1)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header h1{
    text-align: center;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 100px;
    font-size: 80px;
}
.support{
    background-color: #072321;
    text-align: center;
}
.support h1{
    color: #fff;
    font-size: 50px;

}
.support p{
    color: #fff;
    padding: 25px;
}
.discord-btn{
    color: #fff;
    text-decoration: none;
    border: 2px solid #df5919;
    border-radius: 7px;
    padding: 4px 8px 4px 8px;
    transition: 250ms;
}
.discord-btn:hover{
    color: #072321;
    text-decoration: none;
    background-color: #df5919;
    border-radius: 7px;
    padding: 6px 60px 6px 60px;
    transition: 250ms;
    
}
.plugin-links{
    flex: 1;
    text-align: center;
    height: 500px;
    background-color: #072321;
}
.plugin-links ul{
    list-style-type: none;
    margin: 0;
    padding: 50px 0 100px 0;
    overflow: visible;
    background-color: #072321;
    columns: 3;
    
}
.plugin-links ul li {
    border: 2px solid #df5919;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    margin: 0px 60px 0px 60px;
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    background-color: #072321;
    -webkit-column-break-inside: avoid;
    transition: 250ms;
}
.plugin-links ul li p{
    margin-bottom: 20px;
}
.plugin-links ul li a{
    border: 2px solid #072321;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
}
.plugin-links .plugin-links-title{
    padding-top: 30px;
    font-size: 50px;
    background-color: #072321;
    color: #fff;
}
.plugin-links ul li a:hover{
    border: 2px solid #072321;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    color: #df5919;
    text-decoration: none;
    transition: 250ms;
    background-color: #072321;
}
.plugin-links ul li:hover{
    padding: 50px 0 50px 0;
    background-color: #df5919; 
    color: #072321;
    transition: 250ms;
}

.page-content{
    align-items: center;
}

.content{
    position: relative;
}

.info-box h1{
    font-size: 42px;
    padding-bottom: 0px;
}

.info-box p{
    font-size: 14;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 50x, 0, 40px;
    font-size: 14;
}
footer {
    padding-top: 100px;
    background-color: #072321;
    color: #fff;
    text-align: center;
}
.plugins{
    padding-top: 5px;
    margin-bottom: 10px;
    border: 3px solid #df5919;
    border-radius: 10px;
}
.plugins:hover{
    padding-top: 3px;
    border-radius: 8px;
    border: 1px solid #df5919;
    transition: 250ms;
}
nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .fa fa-bars{
        display: block;
    }
    nav{
        display: block;
        align-items: first baseline;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        transition: 1s;
        display: block;
        position: absolute;
        background-color: #4e683d;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa {
        display: block;
        color: #df5919;
        cursor: pointer;
        margin: 10px;
        font-size: 22px;
        text-align: left;
    }
    .nav-links ul{
        padding: 30px;
    }
}